body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('star.jpg');
    color: #fff;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }  
#ar-prompt {
    display: none;
    }  
model-viewer {
        height: 60vh;
        width: 75%;
        border: 1px solid #fff;
        border-radius: 10px;
    } 


main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}

#planet-info {
    width: 30%;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 10px;
}

#planet-info h2 {
    margin-top: 0;
}
footer {
    position: fixed;
    bottom: 5px;
  .image-button {
    width: 200px; 
    height: 200px; 
    background-size: cover; 
    border: 1px solid #ffffff;
    border-radius: 10px; 
  }
  .image-button[data-planet="Меркурий"] {
      background-image: url('mercury.jpg');
  }
  
  .image-button[data-planet="Венера"] {
      background-image: url('venus.jpg');
  }
  
  .image-button[data-planet="Земля"] {
      background-image: url('earth.jpg');
  }
  
  .image-button[data-planet="Марс"] {
      background-image: url('mars.jpg');
  }
  
  .image-button[data-planet="Юпитер"] {
      background-image: url('jupiter.jpg');
  }
  
  .image-button[data-planet="Сатурн"] {
      background-image: url('saturn.jpg');
  }
  
  .image-button[data-planet="Уран"] {
      background-image: url('uranus.jpg');
  }
  
  .image-button[data-planet="Нептун"] {
      background-image: url('neptune.jpg');
  }
  
   
      .image-button:hover {
        opacity: 0.8;
      }
      
      .image-button:active {
        transform: scale(0.95);
      }
    }

header {
    text-align: center;
    padding: 20px;
}

